.card {
  min-height: 112px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 6px;
  padding: .75rem;
}

.card + .card {
  margin-top: 1rem;
}

.cardHeading {
  color: #4364AF;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.cardContent {
  font-size: .875rem;
}

.cardDivider {
  border: 1px dashed #dedede;
  border-style: none none dashed;
  margin-top: .75rem;
  margin-bottom: .75rem;
  background-color: transparent;
}

.gravatar {
  border-radius: 50%;
}

.gravatar + .cardHeading {
  margin-left: .875rem;
}
