.column {
  background: #EFEFEF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  flex-basis: 320px;
}

.column + .column {
  margin-left: 2rem;
}

.columnContent {
  overflow-y: scroll;
}

.columnHeader {
  display: flex;
  align-items: center;

  margin-bottom: 1rem;
}

.columnHeading {
  margin: 0;
}

.addButton {
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;

  color: inherit;
  background-color: inherit;

  border: 0;
  margin-left: auto;
}