.label {
  display: block;
  font-weight: bold;
}

.label + .input {
  margin-top: .375rem;
}

.input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: .375rem;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 3px;
}

.inputGroup + .inputGroup {
  margin-top: .875rem;
}

.description {
  height: 80px;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;

  background-color: inherit;

  border: 0;
}

.buttonColored {
  color: #fff;
  background-color: #47BB7F;
  border-radius: 3px;
  border: 1px solid #DADADA;
  padding: .5rem .875rem;
}

.button + .button {
  margin-left: .875rem;
}